n8n/Buy Sell Chaser - Production.json
{
  "name": "Buy Sell Chaser - Production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        992,
        -608
      ],
      "id": "c3de0261-a8f8-4049-9ce9-39d16ee07c43",
      "name": "Trigger-Premium-15m"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        992,
        -416
      ],
      "id": "f5145b6d-b313-4361-8463-032c1c0f3a16",
      "name": "Trigger-Priority-1h"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        992,
        -208
      ],
      "id": "45cf06ed-1687-44a6-908d-f92f302569fe",
      "name": "Trigger-Free-4h"
    },
    {
      "parameters": {
        "url": "https://buy-my-interest.vercel.app/api/v1/get-subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1248,
        -608
      ],
      "id": "cf959620-e466-403d-a959-38b9de5cd952",
      "name": "Fetch-Premium"
    },
    {
      "parameters": {
        "url": "https://buy-my-interest.vercel.app/api/v1/get-subscribers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "collection",
              "value": "PrioritySubscribers"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1248,
        -416
      ],
      "id": "f655ec35-13f9-44cb-b1e4-fbdb69047623",
      "name": "Fetch-Priority"
    },
    {
      "parameters": {
        "url": "https://buy-my-interest.vercel.app/api/v1/get-subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1248,
        -208
      ],
      "id": "4611f224-c661-475c-8eb9-f966f6574dd8",
      "name": "Fetch-Free"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10567928-b241-419d-822e-16fa32072a0f",
              "leftValue": "={{ $json.userType }}",
              "rightValue": "buyer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        -384
      ],
      "id": "290e591d-308b-47db-b255-bd9b1f7b9323",
      "name": "Buyer-Or-Seller"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().flatMap(item => \n  item.json.data.map(subscriber => ({ json: subscriber }))\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -384
      ],
      "id": "87d8a8bc-8ca6-4d45-9a67-a92c11ecc330",
      "name": "Flatten-Subscribers"
    },
    {
      "parameters": {},
      "id": "f664d7f3-ca11-4fa4-b9ed-dfb066815244",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2720,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "let queries = [];\n\nfor (const item of $input.all()) {\n  const user = item.json;\n  const interests = user.interestedItems || [];\n  const locations = user.interestedLocations || [];\n\n  for (const product of interests) {\n    for (const location of locations) {\n      queries.push({\n        json: {\n          query: `${product} for sale in ${location}`,\n          product,\n          location,\n          user: {\n            fullName: user.fullName,\n            email: user.email,\n            userType: user.userType,\n            plan: user.plan\n          }\n        }\n      });\n    }\n  }\n}\n\nreturn queries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -272
      ],
      "id": "951b27ab-8da5-4442-a9ae-b28589a805c9",
      "name": "Extract-Interested-Items"
    },
    {
      "parameters": {
        "q": "={{ $json.query }}",
        "location": "={{ $json.location }}",
        "additionalFields": {
          "as_epq": "={{ $json.product }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        3024,
        -240
      ],
      "id": "7c211f3c-1524-4f9a-a3a3-1e106d56ed9e",
      "name": "Search-Google",
      "credentials": {
        "serpApi": {
          "id": "RE27XLT8p6UVo0O5",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2720,
        -272
      ],
      "id": "22e12c60-8846-43c5-8e66-2d07d9bfe744",
      "name": "Loop Over Interests"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "3dcaec55-41a3-457d-876a-4edcc8ee6f47",
      "name": "Loop Over Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2192,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const userContext = $(\"Extract-Interested-Items\").first().json.user;\n\nconst groups = {};\n\nfor (const item of $input.all()) {\n  const json = item.json || {};\n  const email = userContext.email;\n\n  if (!groups[email]) {\n    groups[email] = {\n      userEmail: email,\n      results: []\n    };\n  }\n\n  const organic = item.json.organic_results || [];\n  groups[email].results.push(...organic.map(r => ({ ...r, category: item.json.product })));\n}\n\nreturn Object.values(groups).map(g => ({ json: g }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -416
      ],
      "id": "8e8192f4-3741-4388-a921-37bedeae21a1",
      "name": "Aggregate-Search-Results"
    },
    {
      "parameters": {
        "jsCode": "let items = [];\nfor (const item of $input.all()) {\n  const { results, userEmail } = item.json;\n  results.slice(0, 5).forEach((result) => {\n    items.push({ json: { userEmail, link: result.link, category: result.category } });\n  });\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -416
      ],
      "id": "68bebe44-78ad-4961-b504-9945acc57b2f",
      "name": "Convert-To-Individual-Links"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract product data from this HTML. \n\nLink : {{ $('Loop Over Links').item.json.link }}\nLocation context: {{ $(\"Extract-Interested-Items\").item.json.location }}\nHTML Snippet: {{ $json.bodyContent }}",
        "options": {
          "systemMessage": "You are a specialized Data Extraction Agent for BuyMyInterests.ai.\n\nYour task is to extract high-quality structured data from the provided HTML for a specific category: Pets, Cars, Houses, or Plots.\n\nRULES:\n1. Output ONLY a valid JSON array of objects inside an 'items' key.\n2. Do NOT use markdown code blocks.\n3. If no relevant items are found, return {\"items\": []}.\n4. IMPORTANT: Each item MUST include the 'category' and 'location' provided in the context.\n\nJSON STRUCTURE:\n{\n  \"items\": [\n    {\n      \"title\": \"string\",\n      \"price\": \"string (e.g. $250,000)\",\n      \"category\": \"string (from context)\",\n      \"location\": \"string (from context)\",\n      \"description\": \"string\",\n      \"imageUrl\": \"string\",\nmoreImagesURLS:[\"string\"],\n      \"sourceUrl\": \"string\",\n      \"dateScraped\": \"string (current date)\",\n      \"metadata\": {\n         // Category specific fields\n         \"color\": \"string\",\n         \"breed\": \"string (for pets)\",\n         \"mileage\": \"string (for cars)\",\n         \"year\": \"string (for cars)\",\n         \"rooms\": \"string (for houses)\",\n         \"area\": \"string (for plots)\",\n         \"condition\": \"New/Used\"\n      }\n    }\n  ]\n}\n\nBe extremely precise with prices. Keep the currency symbol if present."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4176,
        -544
      ],
      "id": "fbdb5227-dd4c-4766-9be0-c8822b92caed",
      "name": "Intelligence-Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3424,
        -544
      ],
      "id": "ce80207c-f531-474c-9d25-604a59b1e755",
      "name": "Loop Over Links"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {},
        "formats": [
          "html"
        ]
      },
      "type": "n8n-nodes-browserless-api.browserless",
      "typeVersion": 1,
      "position": [
        3664,
        -464
      ],
      "id": "dffa6df2-b666-43d2-84f3-45207ef26ef2",
      "name": "Scrape-Page",
      "credentials": {
        "browserlessApi": {
          "id": "qFrpmRGPIF9Hgn2C",
          "name": "Browserless account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        4048,
        -128
      ],
      "id": "ca65444c-50f8-483f-a647-312cf0b734ba",
      "name": "AI-Model",
      "credentials": {
        "cohereApi": {
          "id": "iUHXkZT80OKZwZc9",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://buy-my-interest.vercel.app/api/v1/update-matches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{ $(\"Convert-To-Individual-Links\").item.json.userEmail }}"
            },
            {
              "name": "matches",
              "value": "={{ $json.details[0].output.items }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        -544
      ],
      "id": "e71451ff-c641-4bd2-b8eb-60a3c3ab9810",
      "name": "Push-To-Website"
    },
    {
      "parameters": {
        "jsCode": "function extractCleanBody(html) {\n  if (!html) return \"\";\n\n  // Extract <body>\n  const bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\n  let body = bodyMatch ? bodyMatch[1] : html;\n\n  // Remove heavy/unnecessary elements\n  body = body.replace(/<script[\\s\\S]*?<\\/script>/gi, \"\");\n  body = body.replace(/<style[\\s\\S]*?<\\/style>/gi, \"\");\n  body = body.replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, \"\");\n  body = body.replace(/<svg[\\s\\S]*?<\\/svg>/gi, \"\");\n  body = body.replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, \"\");\n\n  // Remove comments\n  body = body.replace(/<!--[\\s\\S]*?-->/g, \"\");\n\n  // Collapse whitespace\n  body = body.replace(/\\s+/g, \" \").trim();\n\n  // Hard limit to reduce tokens\n  const MAX_CHARS = 108000;\n  if (body.length > MAX_CHARS) {\n    body = body.slice(0, MAX_CHARS);\n  }\n\n  return body;\n}\n\n// Usage\nconst html = $json.content;\nconst bodyContent = extractCleanBody(html);\n\nreturn [\n  {\n    json: {\n      bodyContent\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        -464
      ],
      "id": "28337c52-de21-4fc5-8125-97d4539d948a",
      "name": "DOM Body Extractor"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate verification results across all items\nlet allPassed = true;\nconst verificationResults = [];\n\nfor (const item of $input.all()) {\n  let result = {\n    isPassed: false,\n    output: null,\n    error: null\n  };\n  \n  try {\n    result.output = JSON.parse(item.json.output);\n    result.originalOutput=item.json.output\n    result.isPassed = true;\n  } catch (e) {\n    result.isPassed = false;\n    result.error = e.message;\n    result.output = item.json.output;\n    allPassed = false;\n  }\n  \n  verificationResults.push(result);\n}\n\nreturn [{\n  json: {\n    isPassed: allPassed,\n    totalItems: verificationResults.length,\n    passedCount: verificationResults.filter(r => r.isPassed).length,\n    failedCount: verificationResults.filter(r => !r.isPassed).length,\n    details: verificationResults\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        -544
      ],
      "id": "9ddf22aa-7a4e-4f24-b612-ecd6365206b4",
      "name": "JSON VERIFIER"
    }
  ],
  "pinData": {
    "Intelligence-Extractor": [
      {
        "json": {
          "output": "{\n  \"items\": [\n    {\n      \"title\": \"Chow Chow Pedigreed champion bloodline available for import\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613051884-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/chow-chow-pedigreed-champion-bloodline-available-for-import-iid-1113746416\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Chow Chow\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Top quality black and Red pedigree long hairfemale for sale\",\n      \"price\": \"Rs 1.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613059922-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/top-quality-black-and-red-pedigree-long-hairfemale-for-sale-iid-1110957659\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Male 11 months age Low Height\",\n      \"price\": \"Rs 60,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613421241-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-male-11-months-age-low-height-iid-1112604900\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"Used\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Male Puppy | Blue eyes woolly coat Husky Dog For Sale\",\n      \"price\": \"Rs 60,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613236578-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-male-puppy-blue-eyes-woolly-coat-husky-dog-for-sale-iid-1113777457\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"German Rottweiler pedigree microchipped puppies available here\",\n      \"price\": \"Rs 80,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/593184600-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/german-rottweiler-pedigree-microchipped-puppies-available-here-iid-1110448888\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Rottweiler\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Cane Corso pedigreed microchipped pup available for import\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613392449-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/cane-corso-pedigreed-microchipped-pup-available-for-import-iid-1113804270\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Cane Corso\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Chow chow pedigree with passport puppies available for import\",\n      \"price\": \"Rs 3.80 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613537246-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/chow-chow-pedigree-with-passport-puppies-available-for-import-iid-1113827979\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Chow Chow\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Rottweiler champion blood line show class puppies available for sale\",\n      \"price\": \"Rs 80,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613524409-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/rottweiler-champion-blood-line-show-class-puppies-available-for-sale-iid-1113825713\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Rottweiler\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Tea cup Pomeranian pedigree with passport puppies available for import\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613516208-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/tea-cup-pomeranian-pedigree-with-passport-puppies-available-for-import-iid-1113824344\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Pomeranian\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Cane corso pedigree with passport puppies available for booking\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613513349-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/cane-corso-pedigree-with-passport-puppies-available-for-booking-iid-1113823851\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Cane Corso\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"British/English Bulldog pedigreed microchipped available for import\",\n      \"price\": \"Rs 5.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613394768-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/britishenglish-bulldog-pedigreed-microchipped-available-for-import-iid-1113804687\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Original Blue Eyes Siberian Husky – Pure Breed, Healthy & Active\",\n      \"price\": \"Rs 90,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613061802-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/original-blue-eyes-siberian-husky-pure-breed-healthy-active-iid-1113748124\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Toy Poodle Pedigreed Microchipped Puppies Available for import\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613057006-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/toy-poodle-pedigreed-microchipped-puppies-available-for-import-iid-1113747284\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Poodle\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Premium Black German Shepherd Puppy Available\",\n      \"price\": \"Rs 1.75 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/612884220-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/premium-black-german-shepherd-puppy-available-iid-1113717036\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"German Shepherd\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"PURE COTON PUP 7 MONTHS ACTIVE HEALTHY EXCHANGE POSSIBLE\",\n      \"price\": \"Rs 95,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/574652316-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/pure-coton-pup-7-months-active-healthy-exchange-possible-iid-1107385507\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"Used\"\n      }\n    },\n    {\n      \"title\": \"TYSON;German Shepherd, Beauty Title Holder for Sale\",\n      \"price\": \"Rs 2.60 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/612424769-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/tysongerman-shepherd-beauty-title-holder-for-sale-iid-1113637712\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"German Shepherd\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian husky pure quality for sale\",\n      \"price\": \"Rs 65,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/611708845-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-pure-quality-for-sale-iid-1113515574\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Giant Samoyed/Sammy Smile Puppies\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/610684408-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/giant-samoyedsammy-smile-puppies-iid-1113344109\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Puppy for Sale\",\n      \"price\": \"Rs 75,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/609821131-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-puppy-for-sale-iid-1113199445\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Saint Bernard Puppies\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/592998997-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/saint-bernard-puppies-iid-1110418484\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"British Bulldog Puppies\",\n      \"price\": \"Rs 6.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/591474732-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/british-bulldog-puppies-iid-1110165703\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Caucasian Shepherd Puppies available\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/563982960-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/caucasian-shepherd-puppies-available-iid-1105616563\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"French Bulldog puppy\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/591474593-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/french-bulldog-puppy-iid-1110165673\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Saint Bernard Puppies Available\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/602321674-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/saint-bernard-puppies-available-iid-1111954708\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "JSON VERIFIER": [
      {
        "json": {
          "isPassed": true,
          "totalItems": 1,
          "passedCount": 1,
          "failedCount": 0,
          "details": [
            {
              "isPassed": true,
              "output": {
                "items": [
                  {
                    "title": "Chow Chow Pedigreed champion bloodline available for import",
                    "price": "Rs 3.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613051884-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/chow-chow-pedigreed-champion-bloodline-available-for-import-iid-1113746416",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Chow Chow",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Top quality black and Red pedigree long hairfemale for sale",
                    "price": "Rs 1.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613059922-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/top-quality-black-and-red-pedigree-long-hairfemale-for-sale-iid-1110957659",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Siberian Husky Male 11 months age Low Height",
                    "price": "Rs 60,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613421241-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/siberian-husky-male-11-months-age-low-height-iid-1112604900",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Siberian Husky",
                      "condition": "Used"
                    }
                  },
                  {
                    "title": "Siberian Husky Male Puppy | Blue eyes woolly coat Husky Dog For Sale",
                    "price": "Rs 60,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613236578-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/siberian-husky-male-puppy-blue-eyes-woolly-coat-husky-dog-for-sale-iid-1113777457",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Siberian Husky",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "German Rottweiler pedigree microchipped puppies available here",
                    "price": "Rs 80,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/593184600-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/german-rottweiler-pedigree-microchipped-puppies-available-here-iid-1110448888",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Rottweiler",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Cane Corso pedigreed microchipped pup available for import",
                    "price": "Rs 3.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613392449-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/cane-corso-pedigreed-microchipped-pup-available-for-import-iid-1113804270",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Cane Corso",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Chow chow pedigree with passport puppies available for import",
                    "price": "Rs 3.80 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613537246-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/chow-chow-pedigree-with-passport-puppies-available-for-import-iid-1113827979",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Chow Chow",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Rottweiler champion blood line show class puppies available for sale",
                    "price": "Rs 80,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613524409-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/rottweiler-champion-blood-line-show-class-puppies-available-for-sale-iid-1113825713",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Rottweiler",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Tea cup Pomeranian pedigree with passport puppies available for import",
                    "price": "Rs 4 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613516208-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/tea-cup-pomeranian-pedigree-with-passport-puppies-available-for-import-iid-1113824344",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Pomeranian",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Cane corso pedigree with passport puppies available for booking",
                    "price": "Rs 4.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613513349-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/cane-corso-pedigree-with-passport-puppies-available-for-booking-iid-1113823851",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Cane Corso",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "British/English Bulldog pedigreed microchipped available for import",
                    "price": "Rs 5.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613394768-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/britishenglish-bulldog-pedigreed-microchipped-available-for-import-iid-1113804687",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Bulldog",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Original Blue Eyes Siberian Husky – Pure Breed, Healthy & Active",
                    "price": "Rs 90,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613061802-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/original-blue-eyes-siberian-husky-pure-breed-healthy-active-iid-1113748124",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Siberian Husky",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Toy Poodle Pedigreed Microchipped Puppies Available for import",
                    "price": "Rs 4.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/613057006-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/toy-poodle-pedigreed-microchipped-puppies-available-for-import-iid-1113747284",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Poodle",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Premium Black German Shepherd Puppy Available",
                    "price": "Rs 1.75 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/612884220-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/premium-black-german-shepherd-puppy-available-iid-1113717036",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "German Shepherd",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "PURE COTON PUP 7 MONTHS ACTIVE HEALTHY EXCHANGE POSSIBLE",
                    "price": "Rs 95,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/574652316-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/pure-coton-pup-7-months-active-healthy-exchange-possible-iid-1107385507",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "Used"
                    }
                  },
                  {
                    "title": "TYSON;German Shepherd, Beauty Title Holder for Sale",
                    "price": "Rs 2.60 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/612424769-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/tysongerman-shepherd-beauty-title-holder-for-sale-iid-1113637712",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "German Shepherd",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Siberian husky pure quality for sale",
                    "price": "Rs 65,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/611708845-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/siberian-husky-pure-quality-for-sale-iid-1113515574",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Siberian Husky",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Giant Samoyed/Sammy Smile Puppies",
                    "price": "Rs 4.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/610684408-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/giant-samoyedsammy-smile-puppies-iid-1113344109",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Siberian Husky Puppy for Sale",
                    "price": "Rs 75,000",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/609821131-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/siberian-husky-puppy-for-sale-iid-1113199445",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Siberian Husky",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Saint Bernard Puppies",
                    "price": "Rs 4 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/592998997-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/saint-bernard-puppies-iid-1110418484",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "British Bulldog Puppies",
                    "price": "Rs 6.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/591474732-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/british-bulldog-puppies-iid-1110165703",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Bulldog",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Caucasian Shepherd Puppies available",
                    "price": "Rs 4 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/563982960-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/caucasian-shepherd-puppies-available-iid-1105616563",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "French Bulldog puppy",
                    "price": "Rs 3.50 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/591474593-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/french-bulldog-puppy-iid-1110165673",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "Bulldog",
                      "condition": "New"
                    }
                  },
                  {
                    "title": "Saint Bernard Puppies Available",
                    "price": "Rs 4 Lac",
                    "category": "Pets",
                    "location": "Bahria Enclave Islamabad",
                    "description": "",
                    "imageUrl": "https://images.olx.com.pk/thumbnails/602321674-400x300.jpeg",
                    "moreImagesURLS": [],
                    "sourceUrl": "https://www.olx.com.pk/item/saint-bernard-puppies-available-iid-1111954708",
                    "dateScraped": "2024-06-10",
                    "metadata": {
                      "breed": "",
                      "condition": "New"
                    }
                  }
                ]
              },
              "error": null,
              "originalOutput": "{\n  \"items\": [\n    {\n      \"title\": \"Chow Chow Pedigreed champion bloodline available for import\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613051884-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/chow-chow-pedigreed-champion-bloodline-available-for-import-iid-1113746416\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Chow Chow\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Top quality black and Red pedigree long hairfemale for sale\",\n      \"price\": \"Rs 1.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613059922-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/top-quality-black-and-red-pedigree-long-hairfemale-for-sale-iid-1110957659\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Male 11 months age Low Height\",\n      \"price\": \"Rs 60,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613421241-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-male-11-months-age-low-height-iid-1112604900\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"Used\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Male Puppy | Blue eyes woolly coat Husky Dog For Sale\",\n      \"price\": \"Rs 60,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613236578-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-male-puppy-blue-eyes-woolly-coat-husky-dog-for-sale-iid-1113777457\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"German Rottweiler pedigree microchipped puppies available here\",\n      \"price\": \"Rs 80,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/593184600-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/german-rottweiler-pedigree-microchipped-puppies-available-here-iid-1110448888\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Rottweiler\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Cane Corso pedigreed microchipped pup available for import\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613392449-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/cane-corso-pedigreed-microchipped-pup-available-for-import-iid-1113804270\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Cane Corso\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Chow chow pedigree with passport puppies available for import\",\n      \"price\": \"Rs 3.80 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613537246-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/chow-chow-pedigree-with-passport-puppies-available-for-import-iid-1113827979\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Chow Chow\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Rottweiler champion blood line show class puppies available for sale\",\n      \"price\": \"Rs 80,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613524409-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/rottweiler-champion-blood-line-show-class-puppies-available-for-sale-iid-1113825713\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Rottweiler\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Tea cup Pomeranian pedigree with passport puppies available for import\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613516208-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/tea-cup-pomeranian-pedigree-with-passport-puppies-available-for-import-iid-1113824344\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Pomeranian\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Cane corso pedigree with passport puppies available for booking\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613513349-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/cane-corso-pedigree-with-passport-puppies-available-for-booking-iid-1113823851\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Cane Corso\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"British/English Bulldog pedigreed microchipped available for import\",\n      \"price\": \"Rs 5.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613394768-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/britishenglish-bulldog-pedigreed-microchipped-available-for-import-iid-1113804687\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Original Blue Eyes Siberian Husky – Pure Breed, Healthy & Active\",\n      \"price\": \"Rs 90,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613061802-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/original-blue-eyes-siberian-husky-pure-breed-healthy-active-iid-1113748124\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Toy Poodle Pedigreed Microchipped Puppies Available for import\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/613057006-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/toy-poodle-pedigreed-microchipped-puppies-available-for-import-iid-1113747284\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Poodle\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Premium Black German Shepherd Puppy Available\",\n      \"price\": \"Rs 1.75 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/612884220-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/premium-black-german-shepherd-puppy-available-iid-1113717036\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"German Shepherd\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"PURE COTON PUP 7 MONTHS ACTIVE HEALTHY EXCHANGE POSSIBLE\",\n      \"price\": \"Rs 95,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/574652316-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/pure-coton-pup-7-months-active-healthy-exchange-possible-iid-1107385507\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"Used\"\n      }\n    },\n    {\n      \"title\": \"TYSON;German Shepherd, Beauty Title Holder for Sale\",\n      \"price\": \"Rs 2.60 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/612424769-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/tysongerman-shepherd-beauty-title-holder-for-sale-iid-1113637712\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"German Shepherd\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian husky pure quality for sale\",\n      \"price\": \"Rs 65,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/611708845-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-pure-quality-for-sale-iid-1113515574\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Giant Samoyed/Sammy Smile Puppies\",\n      \"price\": \"Rs 4.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/610684408-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/giant-samoyedsammy-smile-puppies-iid-1113344109\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Siberian Husky Puppy for Sale\",\n      \"price\": \"Rs 75,000\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/609821131-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/siberian-husky-puppy-for-sale-iid-1113199445\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Siberian Husky\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Saint Bernard Puppies\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/592998997-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/saint-bernard-puppies-iid-1110418484\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"British Bulldog Puppies\",\n      \"price\": \"Rs 6.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/591474732-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/british-bulldog-puppies-iid-1110165703\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Caucasian Shepherd Puppies available\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/563982960-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/caucasian-shepherd-puppies-available-iid-1105616563\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"French Bulldog puppy\",\n      \"price\": \"Rs 3.50 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/591474593-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/french-bulldog-puppy-iid-1110165673\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"Bulldog\",\n        \"condition\": \"New\"\n      }\n    },\n    {\n      \"title\": \"Saint Bernard Puppies Available\",\n      \"price\": \"Rs 4 Lac\",\n      \"category\": \"Pets\",\n      \"location\": \"Bahria Enclave Islamabad\",\n      \"description\": \"\",\n      \"imageUrl\": \"https://images.olx.com.pk/thumbnails/602321674-400x300.jpeg\",\n      \"moreImagesURLS\": [],\n      \"sourceUrl\": \"https://www.olx.com.pk/item/saint-bernard-puppies-available-iid-1111954708\",\n      \"dateScraped\": \"2024-06-10\",\n      \"metadata\": {\n        \"breed\": \"\",\n        \"condition\": \"New\"\n      }\n    }\n  ]\n}"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Trigger-Premium-15m": {
      "main": [
        [
          {
            "node": "Fetch-Premium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger-Priority-1h": {
      "main": [
        [
          {
            "node": "Fetch-Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger-Free-4h": {
      "main": [
        [
          {
            "node": "Fetch-Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch-Premium": {
      "main": [
        [
          {
            "node": "Flatten-Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch-Priority": {
      "main": [
        [
          {
            "node": "Flatten-Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch-Free": {
      "main": [
        [
          {
            "node": "Flatten-Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten-Subscribers": {
      "main": [
        [
          {
            "node": "Buyer-Or-Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buyer-Or-Seller": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract-Interested-Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract-Interested-Items": {
      "main": [
        [
          {
            "node": "Loop Over Interests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Interests": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search-Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search-Google": {
      "main": [
        [
          {
            "node": "Loop Over Interests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Complete": {
      "main": [
        [
          {
            "node": "Aggregate-Search-Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate-Search-Results": {
      "main": [
        [
          {
            "node": "Convert-To-Individual-Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert-To-Individual-Links": {
      "main": [
        [
          {
            "node": "Loop Over Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Links": {
      "main": [
        [],
        [
          {
            "node": "Scrape-Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape-Page": {
      "main": [
        [
          {
            "node": "DOM Body Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intelligence-Extractor": {
      "main": [
        [
          {
            "node": "JSON VERIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intelligence-Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DOM Body Extractor": {
      "main": [
        [
          {
            "node": "Intelligence-Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON VERIFIER": {
      "main": [
        [
          {
            "node": "Push-To-Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d04afa0-ff9f-47cc-9d4f-7fba321079e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0129154f2b7a3cb884fd5eff479791a23dd8a742bcaee11207720649b9ed6b54"
  },
  "id": "pSnMbLMbm2ug483k",
  "tags": [
    {
      "updatedAt": "2026-04-23T05:42:14.072Z",
      "createdAt": "2026-04-23T05:42:14.072Z",
      "id": "9AvWv0yuiTqzVq6z",
      "name": "Subscription"
    },
    {
      "updatedAt": "2026-04-23T05:42:34.359Z",
      "createdAt": "2026-04-23T05:42:34.359Z",
      "id": "bsKa9RxMwhZLSz0k",
      "name": "Business"
    },
    {
      "updatedAt": "2026-04-23T05:42:22.342Z",
      "createdAt": "2026-04-23T05:42:22.342Z",
      "id": "mBVqeLU24mISm6jn",
      "name": "Multiple-Users"
    }
  ]
}