n8n/Buy Sell Chaser - Local.json
{
  "name": "Buy Sell Chaser - Local",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        -600
      ],
      "id": "c3de0261-a8f8-4049-9ce9-39d16ee07c43",
      "name": "Trigger-Premium-15m"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        -400
      ],
      "id": "f5145b6d-b313-4361-8463-032c1c0f3a16",
      "name": "Trigger-Priority-1h"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        -200
      ],
      "id": "45cf06ed-1687-44a6-908d-f92f302569fe",
      "name": "Trigger-Free-4h"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/v1/get-subscribers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "collection",
              "value": "PremiumSubscribers"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        -600
      ],
      "id": "cf959620-e466-403d-a959-38b9de5cd952",
      "name": "Fetch-Premium"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/v1/get-subscribers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "collection",
              "value": "PrioritySubscribers"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        -400
      ],
      "id": "f655ec35-13f9-44cb-b1e4-fbdb69047623",
      "name": "Fetch-Priority"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/v1/get-subscribers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "collection",
              "value": "FreeSubscribers"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        -200
      ],
      "id": "4611f224-c661-475c-8eb9-f966f6574dd8",
      "name": "Fetch-Free"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { users: $input.all().flatMap(i => i.json.data), priority: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -600
      ],
      "id": "set-prio-0-id",
      "name": "Set-Prio-0"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { users: $input.all().flatMap(i => i.json.data), priority: 1 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -400
      ],
      "id": "set-prio-1-id",
      "name": "Set-Prio-1"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { users: $input.all().flatMap(i => i.json.data), priority: 2 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -200
      ],
      "id": "set-prio-2-id",
      "name": "Set-Prio-2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "users",
              "value": "={{ $json.users }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        -400
      ],
      "id": "enqueue-tasks-id",
      "name": "Enqueue-Tasks"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ],
      "id": "poll-trigger-id",
      "name": "Trigger-Poll-Queue"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/v1/tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        200
      ],
      "id": "fetch-pending-id",
      "name": "Fetch-Pending-Task"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-tasks-id",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        200
      ],
      "id": "has-tasks-if-id",
      "name": "Has Tasks?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://localhost:3000/api/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "status",
              "value": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        200
      ],
      "id": "mark-processing-id",
      "name": "Mark-As-Processing"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json.data[0].userData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "id": "extract-user-data-id",
      "name": "Extract-User-Data"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ],
      "id": "87d8a8bc-8ca6-4d45-9a67-a92c11ecc330",
      "name": "Flatten-Subscribers"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10567928-b241-419d-822e-16fa32072a0f",
              "leftValue": "={{ $json.userType }}",
              "rightValue": "buyer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1700,
        200
      ],
      "id": "290e591d-308b-47db-b255-bd9b1f7b9323",
      "name": "Buyer-Or-Seller"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1950,
        200
      ],
      "id": "3dcaec55-41a3-457d-876a-4edcc8ee6f47",
      "name": "Loop Over Users"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        100
      ],
      "id": "f664d7f3-ca11-4fa4-b9ed-dfb066815244",
      "name": "Loop Complete"
    },
    {
      "parameters": {
        "jsCode": "let queries = []; for (const item of $input.all()) { const user = item.json; const interests = user.interestedItems || []; const locations = user.interestedLocations || []; for (const product of interests) { for (const location of locations) { queries.push({ json: { query: `${product} for sale in ${location}`, product, location, user: { fullName: user.fullName, email: user.email, userType: user.userType, plan: user.plan } } }); } } } return queries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "id": "951b27ab-8da5-4442-a9ae-b28589a805c9",
      "name": "Extract-Interested-Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2450,
        300
      ],
      "id": "22e12c60-8846-43c5-8e66-2d07d9bfe744",
      "name": "Loop Over Interests"
    },
    {
      "parameters": {
        "q": "={{ $json.query }}",
        "location": "={{ $json.location }}",
        "additionalFields": {
          "as_epq": "={{ $json.product }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        2700,
        350
      ],
      "id": "7c211f3c-1524-4f9a-a3a3-1e106d56ed9e",
      "name": "Search-Google",
      "credentials": {
        "serpApi": {
          "id": "RE27XLT8p6UVo0O5",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userContext = $(\"Extract-Interested-Items\").first().json.user; const currentEmail = userContext.email; const groups = {}; const allQueries = $(\"Extract-Interested-Items\").all(); for (const item of $(\"Search-Google\").all()) { const inputIndex = item.pairedItem?.item; if (inputIndex !== undefined && allQueries[inputIndex]) { const inputData = allQueries[inputIndex].json; const itemUserEmail = inputData.user?.email; if (itemUserEmail === currentEmail) { if (!groups[currentEmail]) { groups[currentEmail] = { userEmail: currentEmail, results: [] }; } const organic = item.json.organic_results || []; groups[currentEmail].results.push(...organic.map(r => ({ ...r, category: inputData.product }))); } } } return Object.values(groups).map(g => ({ json: g }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        150
      ],
      "id": "8e8192f4-3741-4388-a921-37bedeae21a1",
      "name": "Aggregate-Search-Results"
    },
    {
      "parameters": {
        "jsCode": "let items = []; for (const item of $input.all()) { const { results, userEmail } = item.json; results.slice(0, 5).forEach((result) => { items.push({ json: { userEmail, link: result.link, category: result.category } }); }); } return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        150
      ],
      "id": "68bebe44-78ad-4961-b504-9945acc57b2f",
      "name": "Convert-To-Individual-Links"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3200,
        150
      ],
      "id": "ce80207c-f531-474c-9d25-604a59b1e755",
      "name": "Loop Over Links"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/v1/check-match",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{ $json.userEmail }}"
            },
            {
              "name": "sourceUrl",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3450,
        200
      ],
      "id": "7a1b2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "Check-Match"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f2a3b4c-5d6e-7f8g-9h0i-1j2k3l4m5n6o",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3700,
        200
      ],
      "id": "5d6e7f8g-9h0i-1j2k-3l4m-5n6o7p8q9r0s",
      "name": "Match-Exists?"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {},
        "formats": [
          "html"
        ]
      },
      "type": "n8n-nodes-browserless-api.browserless",
      "typeVersion": 1,
      "position": [
        3950,
        250
      ],
      "id": "dffa6df2-b666-43d2-84f3-45207ef26ef2",
      "name": "Scrape-Page",
      "credentials": {
        "browserlessApi": {
          "id": "qFrpmRGPIF9Hgn2C",
          "name": "Browserless account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractCleanBody(html) { if (!html) return ''; const bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i); let body = bodyMatch ? bodyMatch[1] : html; body = body.replace(/<script[\\s\\S]*?<\\/script>/gi, ''); body = body.replace(/<style[\\s\\S]*?<\\/style>/gi, ''); body = body.replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ''); body = body.replace(/<svg[\\s\\S]*?<\\/svg>/gi, ''); body = body.replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, ''); body = body.replace(/<!--[\\s\\S]*?-->/g, ''); body = body.replace(/\\s+/g, ' ').trim(); const MAX_CHARS = 108000; if (body.length > MAX_CHARS) body = body.slice(0, MAX_CHARS); return body; } const html = $json.content; const bodyContent = extractCleanBody(html); return [{ json: { bodyContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        250
      ],
      "id": "28337c52-de21-4fc5-8125-97d4539d948a",
      "name": "DOM Body Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract product data from this HTML. \\n\\nLink : {{ $('Loop Over Links').item.json.link }}\\nLocation context: {{ $(\"Extract-Interested-Items\").item.json.location }}\\nHTML Snippet: {{ $json.bodyContent }}",
        "options": {
          "systemMessage": "You are a specialized Data Extraction Agent for BuyMyInterests.ai.\n\nYour task is to extract high-quality structured data from the provided HTML for a specific category: Pets, Cars, Houses, or Plots.\n\nRULES:\n1. Output ONLY a valid JSON array of objects inside an 'items' key.\n2. Do NOT use markdown code blocks.\n3. If no relevant items are found, return {\"items\": []}.\n4. IMPORTANT: Each item MUST include the 'category' and 'location' provided in the context.\n\nJSON STRUCTURE:\n{\n  \"items\": [\n    {\n      \"title\": \"string\",\n      \"price\": \"string (e.g. $250,000)\",\n      \"category\": \"string (from context)\",\n      \"location\": \"string (from context)\",\n      \"description\": \"string\",\n      \"imageUrl\": \"string\",\nmoreImagesURLS:[\"string\"],\n      \"sourceUrl\": \"string\",\n      \"dateScraped\": \"string (current date)\",\n      \"metadata\": {\n         // Category specific fields\n         \"color\": \"string\",\n         \"breed\": \"string (for pets)\",\n         \"mileage\": \"string (for cars)\",\n         \"year\": \"string (for cars)\",\n         \"rooms\": \"string (for houses)\",\n         \"area\": \"string (for plots)\",\n         \"condition\": \"New/Used\"\n      }\n    }\n  ]\n}\n\nBe extremely precise with prices. Keep the currency symbol if present."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4450,
        250
      ],
      "id": "fbdb5227-dd4c-4766-9be0-c8822b92caed",
      "name": "Intelligence-Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        4450,
        450
      ],
      "id": "ca65444c-50f8-483f-a647-312cf0b734ba",
      "name": "AI-Model",
      "credentials": {
        "cohereApi": {
          "id": "iUHXkZT80OKZwZc9",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allPassed = true; const results = []; for (const item of $input.all()) { try { results.push({ isPassed: true, output: JSON.parse(item.json.output) }); } catch (e) { results.push({ isPassed: false, output: item.json.output, error: e.message }); allPassed = false; } } return [{ json: { isPassed: allPassed, details: results } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        250
      ],
      "id": "9ddf22aa-7a4e-4f24-b612-ecd6365206b4",
      "name": "JSON VERIFIER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/update-matches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{ $(\"Convert-To-Individual-Links\").item.json.userEmail }}"
            },
            {
              "name": "matches",
              "value": "={{ $json.details[0].output.items }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4950,
        250
      ],
      "id": "e71451ff-c641-4bd2-b8eb-60a3c3ab9810",
      "name": "Push-To-Website"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://localhost:3000/api/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "G-SQ6RTB6BKE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $(\"Fetch-Pending-Task\").first().json.data[0].id }}"
            },
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2450,
        50
      ],
      "id": "mark-completed-id",
      "name": "Mark-As-Completed"
    }
  ],
  "connections": {
    "Trigger-Premium-15m": { "main": [[{ "node": "Fetch-Premium", "type": "main", "index": 0 }]] },
    "Trigger-Priority-1h": { "main": [[{ "node": "Fetch-Priority", "type": "main", "index": 0 }]] },
    "Trigger-Free-4h": { "main": [[{ "node": "Fetch-Free", "type": "main", "index": 0 }]] },
    "Fetch-Premium": { "main": [[{ "node": "Set-Prio-0", "type": "main", "index": 0 }]] },
    "Fetch-Priority": { "main": [[{ "node": "Set-Prio-1", "type": "main", "index": 0 }]] },
    "Fetch-Free": { "main": [[{ "node": "Set-Prio-2", "type": "main", "index": 0 }]] },
    "Set-Prio-0": { "main": [[{ "node": "Enqueue-Tasks", "type": "main", "index": 0 }]] },
    "Set-Prio-1": { "main": [[{ "node": "Enqueue-Tasks", "type": "main", "index": 0 }]] },
    "Set-Prio-2": { "main": [[{ "node": "Enqueue-Tasks", "type": "main", "index": 0 }]] },
    "Trigger-Poll-Queue": { "main": [[{ "node": "Fetch-Pending-Task", "type": "main", "index": 0 }]] },
    "Fetch-Pending-Task": { "main": [[{ "node": "Has Tasks?", "type": "main", "index": 0 }]] },
    "Has Tasks?": { "main": [[{ "node": "Mark-As-Processing", "type": "main", "index": 0 }]] },
    "Mark-As-Processing": { "main": [[{ "node": "Extract-User-Data", "type": "main", "index": 0 }]] },
    "Extract-User-Data": { "main": [[{ "node": "Flatten-Subscribers", "type": "main", "index": 0 }]] },
    "Flatten-Subscribers": { "main": [[{ "node": "Buyer-Or-Seller", "type": "main", "index": 0 }]] },
    "Buyer-Or-Seller": { "main": [[{ "node": "Loop Over Users", "type": "main", "index": 0 }]] },
    "Loop Over Users": { "main": [[{ "node": "Loop Complete", "type": "main", "index": 0 }], [{ "node": "Extract-Interested-Items", "type": "main", "index": 0 }]] },
    "Loop Complete": { "main": [[{ "node": "Mark-As-Completed", "type": "main", "index": 0 }]] },
    "Extract-Interested-Items": { "main": [[{ "node": "Loop Over Interests", "type": "main", "index": 0 }]] },
    "Loop Over Interests": { "main": [[{ "node": "Aggregate-Search-Results", "type": "main", "index": 0 }], [{ "node": "Search-Google", "type": "main", "index": 0 }]] },
    "Search-Google": { "main": [[{ "node": "Loop Over Interests", "type": "main", "index": 0 }]] },
    "Aggregate-Search-Results": { "main": [[{ "node": "Convert-To-Individual-Links", "type": "main", "index": 0 }]] },
    "Convert-To-Individual-Links": { "main": [[{ "node": "Loop Over Links", "type": "main", "index": 0 }]] },
    "Loop Over Links": { "main": [[{ "node": "Loop Over Users", "type": "main", "index": 0 }], [{ "node": "Check-Match", "type": "main", "index": 0 }]] },
    "Check-Match": { "main": [[{ "node": "Match-Exists?", "type": "main", "index": 0 }]] },
    "Match-Exists?": { "main": [[{ "node": "Loop Over Links", "type": "main", "index": 0 }], [{ "node": "Scrape-Page", "type": "main", "index": 0 }]] },
    "Scrape-Page": { "main": [[{ "node": "DOM Body Extractor", "type": "main", "index": 0 }]] },
    "DOM Body Extractor": { "main": [[{ "node": "Intelligence-Extractor", "type": "main", "index": 0 }]] },
    "AI-Model": { "ai_languageModel": [[{ "node": "Intelligence-Extractor", "type": "ai_languageModel", "index": 0 }]] },
    "Intelligence-Extractor": { "main": [[{ "node": "JSON VERIFIER", "type": "main", "index": 0 }]] },
    "JSON VERIFIER": { "main": [[{ "node": "Push-To-Website", "type": "main", "index": 0 }]] },
    "Push-To-Website": { "main": [[{ "node": "Loop Over Links", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0129154f2b7a3cb884fd5eff479791a23dd8a742bcaee11207720649b9ed6b54"
  },
  "id": "pSnMbLMbm2ug483k"
}
